/* ----------------------------main----------------------- */

.main{
	background: url(../img/bg_posters/background.jpg) no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}

.content_main{
	display: flex;
}

.container.content_main{
	margin-top: 500px;
}

.text_main{
	width: 100px;
}

.link_main{
	height: 360px;
	width: 20px;
	margin-right: 30px;
}

.promo-item{
	width: 240px;
	height: 440px;
}

.container_main{
	height: 360px;
	width: 220px;
}

.posters_main{
	width: 740px;
	justify-content: space-between;
}

.main_mask{
	height: 150px;
}

.film_name_main{
	bottom: 40px;
}

.stat_main{
	bottom: 20px;
}

/* ----------------------------Header------------------ */
.header{
	display: flex;
	justify-content: space-between;
	
}

.header_img{
	margin: 0px 40px;
}
.header_btn{
	display: inline;
	position: relative;
	transform: 0;
	background-color: transparent;
	color: white;
	border-color: white;
}

.header_section{
	z-index: 2;
	background: gray;
	opacity:1;
	margin: 0;
}

.header_btn:hover{
	color:black;
}

/*-------------------------- Каталог------------------------- */
.section {
	padding: 80px 0;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.section_header {
	width: 100%;
	max-width: 950px;
	margin: 0 auto 50px;
	text-align: center;
}



/*Above*/
.about {
	margin-top: 80px;
	display: flex;
	justify-content: space-between;
}

.catalog_container{
	width: 270px;
	height: 510px;
}

.catalog_mask{
	height: 200px;
}

.film_name{
	bottom: 70px;
}

.stat{
	bottom: 40px;
}

.item_btn.catalog_btn {
	display: inline;
	border-radius: 0;
	border-color: transparent;
	color: white;
	background: transparent;
	margin-left: 15px;
	margin-right: 15px;
	position: relative;
	transform: none;
}

.item_btn.catalog_btn:hover{
	color: orange;
	cursor: pointer;
}

.item_btn.catalog_btn.catalog_btn_active{
	border-color: orange;
	border-radius: 10px;
	background: rgb(255, 165 ,0, 0.3);
}

.item_btn.catalog_btn.catalog_btn_active:hover{
	color: white;
}



/*---------------------------- Наш выбор -------------------------------*/

.gallery-block {
	display: flex;
  }
.gallery_content_box_small{
	height: 225px;
}

.gallery_content_box_big{
	height: 450px;
}

.gallery_content_box_small ,
.gallery_content_box_big {
	padding: 10px;
}

.gallery_content_box_small img,
.gallery_content_box_big img{
	width: 100%;
	height: 100%;
	border-radius: 30px;
	border: 3px solid transparent;
}
.gallery_content_box_small img:hover ,
.gallery_content_box_big img:hover {
	border: 3px solid orange;
}